{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" method="post" action="#">
        {% csrf_token %}
        {% for field in form %}

            <div class="form-group">
                {{ field.label }}
                <input class="form-control" type="text" name="{{ field.name }}">
            </div>

        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign up</button>
        </form>
    </div>
</div>
{% endblock %}